body
  width: 100wh
  height: 100vh
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c)

  h1
    margin: 10px 0px
    text-align: center
    color: royalblue

  .grid-container
    display: grid
    grid-template-columns: 1fr
    justify-items: center
    padding: 10px

    img
      border-radius: 50%

    ul
      padding-left: 0px

    li
      list-style-type: none
      font-size: 20px

  .flex-container
    display: flex
    justify-content: center
    
    .btn
      margin: 5px
      border: none
      font-size: 16px
      background-color: #2196f3
      border-radius: 8px
      width: 15%
      padding: 10px

    .btn:active
      background-color: #6eb9f7
      background-size: 100%