// body
//   width: 100vh
//   height: 100vh
//   background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c)

//   #root
//     height: 100vh

//   h1
//     text-align: center

//   .flex-container
//     border: 5px solid green
//     margin: auto
//     height: 500px
//     display: flex
//     align-items: flex-start
//     max-width: 70%

//     li
//       list-style-type: none

//     img
//       padding-left: 10px
//       border-radius: 50%
    
//     .button
//       display: flex
//       align-self: center
//       text-align: center
//       width: 200px
//       height: 60px

body
  width: 100wh
  height: 100vh
  border: 5px solid green
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c)

  h1
    text-align: center

  .grid-container
    border: 3px solid red
    display: grid
    grid-template-columns: 1fr
    justify-items: center

    img
      border-radius: 50%